/*все классы начинаються с точки */ 	/*класс или id нельзя начинать с цифры*/	/*можно придавать стиль целому тегу(одному тегу придал стиль без класса айди и стиль придался все элементам с етим тегом)*/

/*все id начинають с решетки*/

/*ФОН*/


body{  
	background:#ccc; /* в background задвать цвет фона или картинку фона*/
	background-image:url(img/priroda.jpg); /*сделать фон картинкой*/
	background-repeat:no-repeat; /*тип наложения картинки,no-repeat не повторять, repeat-x повторять по Х,Y-по y*/
	background-position: center;/*расположение фона center-в центре,left-слева right-справа */
	/*это все можно записать так:*/
	background: #ccc url(img/priroda.jpg) no-repeat top center; /*top выравнивание по верхнему краю*/
	margin: 0px;	/*отступы со всех сторон margin-left отступ слевого края top-с верху bottom-снизу*/	
	max-width: 1000px; /*максимальноый размер обектов 1000px потом контент не сужаеться появ. прокрктука */
	clear:both; /*очищает все флоты и т.д.*/
}
/*Текст*/
.text{
	z-index: -1; /*индекс слоя*/
	color: red;
	text-decoration: underline; /*делает текст подчеркнутым, overline сверху полоска,none-делает обычный стиль*/
	text-align:left;	/* выравнивание текста center left right*/
	text-transform:uppercase;/*uppercase- все буквы заглавные,lowercase-все буквы маленькие,capitalize-каждое слово с большой*/
	text-indent: 50px;/*отступ текста от края*/
	font-family:Georgia;/*шрифт текста(можно писать через запчтую шрифты если не поддерживаеться той или иной шрифт)*/
	font-size:20px;/*размер текста*/
	font-weight:bold;/*жирность текста(можно в цифрах) normal-нормальный(без именений) */
	font-style:itanic;/*куllрсивность шрифта можно normal*/	
	word-spacing: 10px; /*интервал между словами*/
	letter-spacing: 5px; /*интервал между буквами*/
	line-height: 30px; /*интервал между строками*/
}
/*ТАБЛИЦЫ*/		/*ТАБЛИЦЫ*/	 	/*ТАБЛИЦЫ*/	
#main-table{
	border: 7px solid #fff ;/*границы таблици,1px-размер границ,solid-стиль(сплошной)(dashed-пунктир,dottet-точками double-двойная,groove-вдавленная линия,rich,inset-выглядит как вдавленный блок,outset-выпуклый блок) #fff-цвет границ */         
	width: 100%; /*шырина  таблицы*/    /*!!! МОЖНО ИСПОЛЬЗОАТЬ border-left border-right border-top border-bottom !!!*/
	height: 500px;/* высота таблицы */
}
#main-table td { /*работаем с таблицей,а именно с её столбцами*/
	border: 4px solid #8e8c8c ;/*границы таблици,1px-размер границ,solid-стиль(сплошной)(dashed-пунктир,dottet-точками) #fff-цвет границ */
	vertical-align: top;	/* выравнивание текста по вкртикали,top-по верху,bottom-по низу*/
	border-left: 3px; 	/*левые границы табл*/
	border-bottom: 2px solid #fff; 
	}						/*работаем с main-table а именно с menu-td!!!!!!!*/

/*СПИСКИ*/	/*СПИСКИ*/	/*СПИСКИ*/
.spisok{
	list-style: square; /*стиль пунсонов square-квадрат,none-без пунсонов*/
	list-style-image: url(путь к картинке) 	/*картинки место пунсонов*/
	list-style-position: outside; /*выранвнивать список,inside autside (хз как работает)*/
	margin-left: 10px; /*отступ от левого края*/
}
/*СЫЛКИ*/	/*СЫЛКИ*/	/*СЫЛКИ*/
/*если перед елементом не ставить #  или .  то свойства будут применяться ко всем елементам*/
a{
	color: #fff; /*цвет сылки*/
	text-decoration:none;	/*стиль текста none-без стиля,underline-подчеркивание(по умолчанию)*/
}
a:visited { /*visited-событие посищенная сылки*/
	color: yellow; /*при посищении сылки меняеться её цвет*/

}		/*сначала  visited потом hover потом active */
a:hover{ /*hover-событие навидение курсора*/
	color:red; /*при навидении меняеться цвет */
	text-decoration: underline; /*при наведении подчеркиваеться текст-сылка*/
	font-size:20px; /*при навидении меняеться размер*/
}
a:active{ /*active событие кликание  */
	color:#de11e6; /*при кликании силка светиться другим цветом*/
}
	
	/*ОТСТУПЫ*/	/*ОТСТУПЫ*/	/*ОТСТУПЫ*/
/*margin-left: 10px; -отступ от левого края*/
/*margin: 0px;	отступы со всех сторон margin-left отступ слевого края top-с верху bottom-снизу*/

h1, h2, h3{	/*если хотим добавить свойства к нескольким елементам,то можно их писать через запятую*/
	margin-left:40;  
	margin-right:5; 
	margin-top:10;  
	margin-bottom:30; 
	/*это все можно написать в одну строчку*/
    margin:10px 5px 30px 40px ; /*сначала отступ сверху потом справа снизу слева*/	
}
/*внутрение отступы*/
.tbl .tbltd { /*работаем с таблицей,а именно со столбцом */
	padding:15px; 		/*отступ со всех сторон с расширением ячеек*/
	padding-top:5px;		/*отступ сверху*/
	padding-bottom:10px; 	/*отступ снизу*/
	padding-right:15px;		/*отступ справа*/
	padding-left:20px;		/*отступ слева*/
	padding: 5px 15px 10px 20px; /*сокращенная версия того что сверху*/
}

/*ширина высота*/	/*ширина высота*/	/*ширина высота*/
.tbl{
	max-width: 500px; 	/*максимальная ширина */
	min-width: 300px;	/*минимальная ширина*/
	margin:0px auto; /*отступы сверху снизу и справа слева auto-отступы слева справа одинаковые(обект по центру)*/
					/*контент не сужаеться появляеться прокрктука*/	
}
#parr{
	border:2px solid red; /*обводка 2px сплошная линия красного цвета*/
	min-height: 20px; /*минимальная высота 20px*/
	max-height: 40px; /*максимальная высота 40px*/
	word-spacing: 10px; /*отступ между словами*/
}
/*DISPLAY*/		/*DISPLAY*/		/*DISPLAY*/		/*DISPLAY*/

.stroka{
	display: block; /*из строчного елемента делает блочный (из надписей написанных в строку делат встолбик)*/
	
	/*display: table; сколько в блоке информации такие и приниымает размеры*/
	
	/*display: inline-block; свойста блочного эл,а выводиться как строчный*/
	
	/*display: none; прячет элемент*/
}

.div{
	display:inline; /*из блочного елемента делает строчный(из надписей встолбик делает встрочку)*/
}
.stroka1{
	display:block; /*из строчного елемента делает блочный*/
	display:list-item; /*добавляет пунсоны с сылкам*/
	margin-left:50px; /*отступ от левого края 50рх*/
}	
.tabl2{
	margin:auto;
	width:400px;
	height: 200px;
	background: #a622b7;
}	

.tabl2 td{
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid #000;
	border-bottom:1px solid  #000;
}

.divtbl{
	display: table; /*div с классом divtbl являеться таблицей  inline-table таблица на той-же строке (строчный елемент) 
	если поставить  display:none, то елемент будет невидемым;*/
	margin:30px;
	width:400px;
	height: 200px;
	background: yellow;
	vertical-align: middle;
	border: 1px solid ;
	float:left; /*елемент прижымаеться к левому краю и след ел. прижимаеться к этому елементу(оптикает справа) */
}

.divtr{
	display: table-row; /*div  с классом divtr являеться строкой*/
}

.divtd{
	display: table-cell; /*div  с классом divtd являетья ячейкой (столбцом)*/
	text-align: center;
	border-right: 1px solid #000;
	border-bottom:1px solid #000;
	border: 1px solid ;
}

.flower{
	position: absolute; /*картинка поверх всего*/
	top: 50px; /*отступ картики сверху на 50рх*/
	right:; 						/*отступы можно задавать в процентах*/
	bottom:;					/*можно прописывать значение в минус*/
	left:50px; /*отступ картики слева на 50рх*/
}

.cherep{
	position:fixed; /*fixed картинка закрепляеться и при прокрутке остаеться на одном месте*/
	bottom: 60px;
	right: 50px;
}

.one{
	margin-left: 30px;
	width: 1200px;
	height: 600px;
	cursor:crosshair; 	/*меняет вид курсора в (только в данной таблице) есть(pointer,move,help )*/
	outline: red solid 2px; /*делает обводку обекта(в отличии от border outline делает обводку снаружи(border внутрь) )*/
}

 .one1{
	position: relative; /*размещение елемента относительно елемента в котором он находиться*/
	left: 150px; /* блок сместиться на 150px относительно своего теперешнего положения */
}

.menu-td {
    border-bottom: 33px;
}

/*CSS3*/    /*CSS3*/    /*CSS3*/    /*CSS3*/    /*CSS3*/

/*закругление границ*/
.first-div{
    width: 300px;
    height: 400px;
    background-color:  #19619f ; 
    margin: 100px auto;
    border-radius: 50px; /*закругление границ*/
    -moz-border-radius:50px; /*для разных браузеров можно  писать разные приставки,для мозилы -moz-. для chrome  and safari "-wedkit-" для opera "-0-" */
    border-top-right-radius: 90px; /*скругление верхнего правого угла 90рх*/
    border-radius: 30px 40px 50px 60px;/*закругление отдельных углов начиная с левого верхнего угла и по часовой стрелке*/
}


/*тени вокруг елементов*/

.first-div{
    box-shadow: -36px 48px 29px #726666; /*тень на елемент,первый пар-тр-сдвиг по оси Х,второй сдвиг по У,третий растушовка тени,4-ый цвет тени,так же действуют приставки "-o- , -moz-"*/
}

/*тень текста*/

#text-shadow{
    font-size: 75px;
    text-align: center;
    color: #23d8b5;
    text-shadow: -7px 7px 10px #4a0419; /*тень на текст,первый пар-тр-сдвиг по оси Х,второй сдвиг по У,третий растушовка тени,4-ый цвет тени,так же действуют приставки "-o- , -moz-"*/
}

/*Перенос слов*/

.second-div{
    background: url(img/flower.jpg) top center no-repeat; /*фон блока-картинка,по вертикали-по верхнему краю,по горизонтали-по центру, не повторять  */
    background-size: 536px 440px; /*размер фонового изображения 1-размер по ширине,2-размер по высоте*/
    width: 536px;
    height: 396px;
    border: 3px solid #000 ; 
    padding: 30px; /*внутрений отступ*/
    margin: 100px auto; 
    word-wrap: break-word;/*переновис слова на новую строку*/ 
  
    /*позиционирование фона*/    /*позиционирование фона*/
   
    background-origin: content-box; /*приниымает все отступы с паддинг(картинка посредине) заниает те же позиции как и контент */
    background-origin: border-box; /*картинка подгоняеться под границы */
    box-sizing: border-box; /*делает нормальные размеры без учета границ(какие задали размеры в width height такие они и будут без учитывание границ )*/
}

.div-calc{
    width: clac(100%-10px);/*clac(100%-10px)-ширина блока минус padding так как padding разширяет*/ 
    height: 52px;          /*елемент */
    background: #c48000;
    border: 3px solid black;
    padding: 10px;
}

.textarea{
    margin: 100 300 100 300;
    resize: horizontal;/*текстовое поле раздвигаеться только  по горизонтале,vertical-по вертикале,none-вообще нельзя двигать*/
}

/*прозрачность*/    /*прозрачность*/    /*прозрачность*/

.div3{
    width: 300px;
    height: 400px;
    background-color:  #f740e2 ; 
    margin: 100px auto;
    opacity: 0.4; /*прозрачность елементов(значение от 0 до 1 0-прозрачность нулевая 1-100%-ная)*/
    
    /*трансформация*/    /*трансформация*/    /*трансформация*/
   
    transform: rotate(30deg); /*поворачивае елемент на 30 градусов*/
    transform: translate(49px, 40px); /*перемещает обьект 1-значение по оси х 2-по У  */
    transform: scale(2,1.2);/*размеры обьекта 2-увеличилось в 2 раза,1.2-в 1.2раза,1-значение по оси х 2-по У */
    transform: skew(20deg,10deg);/*наклоняет изображение 1-по оси Х 2- по оси У(значение в градусах)*/
    transform: matrix(2,20,10,1.2,49,40);/*изменяет все сразу 1-изменяет ширину обьекта 2-наклон по горизонтале,3-наклон по вертикале 4-изменения размера по высоте 5-сдвих елемента по Х 6-сдвиг по У*/
}

/*анимация трансформация*/  /*анимация трансформация*/  /*анимация трансформация*/

.div4{
    width: 300px;
    height: 400px;
    background-color:  #123e12 ; 
    box-shadow: 23px 74px 54px #b7d31b;   
    margin: 3000px auto;
    transition: margin 0.1s linear, width 1s linear, box-shadow 0.5s linear; /*плавная анимация для елемента 1-какое свойство будем изменять 2-за скольео секунд изменить свойство 3-по какой мотиматической функции изменять работают приставки для браузеров,через запятую можно писать ещё какие свойства хотим поменять*/
    transition: all 1s ease;/*можно изменить все сразу*/
}

.div4:hover{
    margin: 3100px auto;
    width: 320px;
    box-shadow: 126px 82px 4px #b7d31b;  
    transform: rotateZ(180deg);/*вращение елемента на 180 градусов вокруг оси Х (можно по y x z) */
    transform-origin:  20% 20%;/*изменение оси, вокруг которой крутитться елемент сгачала по Х потом по У в %(можно по оси Х писат"left right center, Y-bottom top ctnter")*/   
}

/*Анимация*/  /*Анимация*/    /*Анимация*/  /*Анимация*/

.div5{
     width: 300px;
    height: 400px;
    background-color:  #3c7700 ; 
    margin: 100px 141px;  
    animation: myanimation 7s;/*так вызивать анимацию 1-название анимации 2-сколько сек будет дляться */
}

@keyframes myanimation{     /*для создания анимации нужно написать "@keyframes" и написать название анимации  префиксы тоже нужно писать*/
    from{    /* в  from псать свойства какие до анимации*/
        width: 300px;   
        background-color:  #3c7700 ;
        -webkit-transform: rotateX(0deg);
    }
    to{ /* в  to псать свойства к каким анимация придет*/
        width: 350px;
        background-color:  #db30ce ;
        -webkit-transform: rotateX(360deg);
    } /*анимацию нужно вызывать в блоке к которому хотим применить анимацию*/
}

.div5:hover{   /*анимацию можно вызвать при наводе на обьект*/
   -webkit-animation: myanimation 7s; 
}
@-webkit-keyframes anime{
    0%{значение} /*анимацию можно создавать в процентах*/
    25%{значение}
    50%{значение}
    75%{значение}
    100%{значение}
}

/*псевдоклассы*/  /*псевдоклассы*/   /*псевдоклассы*/

#table7{
    background: #433b0d;
    border: 2px solid #000000;
    width: 300px;
}

#table7 tr:nth-child(odd){ /*работаем с таблицей именно со строками nth-child-псевдокласс odd-нечётные строки */
    background: #d30909;  /*пар-тр псевдокласса (красит нечётнве строки )*/
}

#table7 tr:nth-child(even){ /*работаем с таблицей именно со строками nth-child-псевдокласс even-чётные строки */
    background: #6f1e5c;  /*пар-тр псевдокласса (красит четные  строки )*/
}

#table8{
    background: #433b0d;
    border: 2px solid #000000;
    width: 300px;
    margin-top: 10px; 
}

#table8 tr:first-child{ /*псевдоклас выбирает и изменяет первый  елемент, first-latter -1ую букву,first-line-1ое предложение */
    background: aqua; /*пар-тр псевдокласса (красит первую строку )*/
}

#table8 tr:last-child{ /*псевдоклас выбирает и изменяет последний  елемент */
    background: linear-gradient(25deg, #fff 20%, #000 70%); /*пар-тр псевдокласса (красит воследнююстроку) 1- угол наклона градиента,2-первый цвет,3-к-во первого цвета 4-второй цвет 5-к-во второго цвета*/  
}

#table8 tr:nth-child(3){ /*3ий елемент,3n-каждый третий */
    content: "2"; /*выведет на екран "2"*/
}


/*менять вид инпутов,фильтр елементов по типу*/

#form input[type=text], #form input[type=password]{ /*работаем с форм именно с инпутом,а именно с инпутом типа текст(инпуты можно перечислять через запятую)*/
    width: 200px;
}

#form input[type=submit]{ /*работаем с id формой а именно с инпутом типа сабмит*/
    background: #1f118b;
}
   
#form input[type=reset]{  /*работаем с id формой а именно с инпутом типа ресет*/
  background: #d6ce0b;
}

/*псевдоэлементы*/	/*псевдоэлементы*/	/*псевдоэлементы*/
.ps-el::before{		/* добаляет елелемент перед этим классом .  after-добавляет элемент после этого эл*/
	content: " "; /*контент псевдоэлемента*/
}



/*Javascript*/

.form_JS {
	background-color: aqua;
	border-radius: 5px;
	padding: 20px;
	width: 171px;
	margin: 0 auto;
}